.campoObrigatorio{
    color: #ff0000;
}

.botaoEnvio{
    display: inline-block;
    font-family: inherit;
    font-size: .9rem;
    color: #fff;
    background-color: var(--corTerciaria);
    width: 100%;
    padding: .9rem 1.1rem;
    border: .126rem solid transparent;
    border-radius: .3rem;
    cursor: pointer;
    transition: .5s;
}

.botaoEnvio:hover{
    font-weight: bold;
    color: var(--corTerciaria);
    background-color: transparent;
    border-color: var(--corTerciaria);
}