.conteudoPrincipal{
    width: 30rem;
}

.rotulo{
    text-align: center;
}

.areaTabelaProdutos{
    overflow-x: auto;
}

#tabelaProdutos{
    white-space: nowrap;
    width: 100%;
    border-collapse: collapse;
}

#tabelaProdutos::after{
    display: block;
    content: "";
    padding-top: 1rem;
}

.tituloTabela{
    color: #fff;
    background-color: var(--corTerciaria);
    padding: .7rem;
}

#corpoTabela .linhaTabela {
    background-color: #eee;
}

#corpoTabela .linhaTabela:nth-child(odd){
    background-color: #ddd;
}

.dadoTabela{
    text-align: center;
    padding: .7rem;
}

.linkEditarProduto{
    display: inline-block;
    text-decoration: none;
    color: #00a000;
}

.linkDeletarProduto{
    display: inline-block;
    text-decoration: none;
    color: #ff0000;
}

#semResultados{
    display: none;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}